text {
  font-weight: 300;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serf;
  font-size: 14px;
}

.node rect {
  stroke: #999;
  fill: #fff;
  stroke-width: 1.5px;
}

.edgePath path {
  stroke: #333;
  stroke-width: 1.5px;
}

#main-contents {
  padding: 20px 40px 20px 40px;
}

/* Workflow detail graph */
svg#workflowDag {
  width: auto;
  height: auto;
  padding: 50px;
  border: thin solid;
}

g.running > rect {
  fill: #36a8ff;
}

g.success > rect {
  fill: #00ffd0;
}

g.failure > rect {
  fill: #ffbab7;
}

g > ellipse {
  fill: orange;
}
